<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Not Found</title>
        <style>
            body {
                background-color: #2e3440;
                color: #eceff4;
                font-family: system-ui, sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                margin: 10px;
            }

            h1 {
                color: #bf616a;
            }
        </style>
    </head>
    <body>
        <h1>404</h1>
        <p>The page you are looking for could not be found.</p>
    </body>
</html>